.wrapFooter {
    border-top: 1px solid $color1;
    margin-top: 80px;
}

.contentFooter {
    padding: 30px 0;
}

.wrapLogoFooterBoder {
    position: relative;
    display: table;
    margin: -37px auto auto auto;

    &::after,
    &::before {
        position: absolute;
        bottom: 0;
        content: '';
        height: 1px;
        background-color: $color1;
        @include transition(0.5s);
    }

    &::before {
        left: 0;
        width: 0;
    }

    &::after {
        right: 0;
        @include width-calc('100% - 30px');
    }
}

.wrapLogFooter{
    padding: 15px;
    background-color: $color8;
    border-left: 1px solid $color1;
    border-right: 1px solid $color1;
    position: relative;
    display: table;
    padding: 15px;
    position: relative;    

    &::after,
    &::before {
        position: absolute;
        top: 0;
        content: '';
        height: 1px;
        background-color: $color1;
        @include transition(0.5s);
    }

    &::before {
        left: 0;
        @include width-calc('100% - 30px');
    }

    &::after {
        right: 0;
        width: 0;
    }

    img {
        width: auto;
        height: 45px;
    }
}

.titleFooter{
    color: $color1;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-family: $nameFont2;
}

.listLinkFooter {
    margin-top: 15px;
}

.btnLinkFooter {
    font-size: 16px;
    line-height: 22px;
    color: $color1;
    display: table;
    margin-top: 10px;
    @include transition(0.5s);

    &:first-child {
        margin-top: 0;
    }

    &:hover {
        color: $color3;
    }

    svg {
        width: 10px;
        height: 10px;
        display: inline-block;
    }
}

.wrapTextSubscibe,
.wrapTextContactFooter {
    font-size: 16px;
    line-height: 22px;
    color: $color1;
    margin-top: 15px;

    b,
    strong {
        font-weight: 700;
    }

    p {
        margin: 10px 0 0 0;

        &:first-child {
            margin-top: 0;
        }
    }

    a {
        color: $color1;
        @include transition(0.5s);

        &:hover {
            color: $color3;
        }
    }
}

.wrapFrmSubcribe {
    margin-top: 15px;

    .inputSearchPopup {
        font-size: 16px;
        line-height: 22px;
    }
}

.btnSendSearchPopup {
    border: none;
    background-color: transparent;

    &:focus {
        outline: unset;
        outline: none;
        border: none;
        @include box-shadow('unset');
        @include box-shadow('none');
    }
}

.wrapFanpageFooter{
    margin-top: 15px;
}

@-webkit-keyframes noise-animation{
    0%{-webkit-transform:translate(0,0);transform:translate(0,0)}
    10%{-webkit-transform:translate(-5%,-5%);transform:translate(-5%,-5%)}
    20%,50%{-webkit-transform:translate(-10%,5%);transform:translate(-10%,5%)}
    30%{-webkit-transform:translate(5%,-10%);transform:translate(5%,-10%)}
    40%{-webkit-transform:translate(-5%,15%);transform:translate(-5%,15%)}
    60%{-webkit-transform:translate(15%,0);transform:translate(15%,0)}
    70%{-webkit-transform:translate(0,10%);transform:translate(0,10%)}
    80%{-webkit-transform:translate(-15%,0);transform:translate(-15%,0)}
    90%{-webkit-transform:translate(10%,5%);transform:translate(10%,5%)}
    100%{-webkit-transform:translate(5%,0);transform:translate(5%,0)}
}

@keyframes noise-animation{
    0%{-webkit-transform:translate(0,0);transform:translate(0,0)}
    10%{-webkit-transform:translate(-5%,-5%);transform:translate(-5%,-5%)}
    20%,50%{-webkit-transform:translate(-10%,5%);transform:translate(-10%,5%)}
    30%{-webkit-transform:translate(5%,-10%);transform:translate(5%,-10%)}
    40%{-webkit-transform:translate(-5%,15%);transform:translate(-5%,15%)}
    60%{-webkit-transform:translate(15%,0);transform:translate(15%,0)}
    70%{-webkit-transform:translate(0,10%);transform:translate(0,10%)}
    80%{-webkit-transform:translate(-15%,0);transform:translate(-15%,0)}
    90%{-webkit-transform:translate(10%,5%);transform:translate(10%,5%)}
    100%{-webkit-transform:translate(5%,0);transform:translate(5%,0)}
}

.rowVideosFooter{
    margin: 11px -2px 0 -2px;
}

.colVideoFooter {
    margin-top: 4px;
    padding: 0 2px;
}

.iconVideoFooter {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    color: $color1;
    @include opacity(0);
    @include transition(1s);

    svg {
        width: 20px;
        height: 20px;
        display: block;
    }
}

.wrapBgAnimateVideoFooter {
    background-position: center;
    background-repeat: repeat;
    position: absolute;
    top: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    -webkit-animation: noise-animation 1s steps(4) infinite;
    animation: noise-animation 1s steps(4) infinite;
    @include opacity(0);
    @include transition(1s);
}

.wrapImgVideoFooter {        
    img {
        @include transition(1s);
    }
}

.contentVideoFooter {
    display: block;
    position: relative;

    &:hover {
        .wrapBgAnimateVideoFooter,
        .iconVideoFooter {
            @include opacity(1);
        }

        .wrapImgVideoFooter {        
            img {
                @include opacity(0.6);
            }
        }
    }
}

@media (max-width: 991px) {
    .colSubscibeFooter,
    .colVideosFooter,
    .colLinkFooter,
    .colContactFooter {
        padding: 0 7.5px;
    }

    .rowFooter {
        margin: 0 -7.5px;
    }

    .colSubscibeFooter,
    .colVideosFooter {
        margin-top: 30px;
    }

    .wrapLogFooter{    
        img {
            height: 30px;
        }
    }
    
    .wrapLogoFooterBoder {
        margin: -30px auto auto auto;
    }

    .wrapFooter {
        margin-top: 55px;
    }
}

@media (max-width: 575px) {
    .colLinkFooter {
        margin-top: 30px;
    }
}
