.modalControl {
    .modal-dialog {
        max-width: 575px;
    }

    .modal-content {
        background-color: $color8;
        border: 1px solid $color1;
        @include border-radius(0);
    }

    .wrapTextModalControl {
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        color: $color1;
        margin-top: 10px;

        a {
            text-decoration: underline;
            color: $color1;
            @include transition(0.5s);

            &:hover {
                color: $color3;
            }
        }

        img {
            max-width: 100%;
            height: auto;
        }

        p {
            margin-bottom: 10px;
        }
    }

    .titleModalControl {
        font-size: 30px;
        line-height: 40px;
        color: $color1;
        font-weight: 700;
        text-transform: capitalize;
        font-family: $nameFont2;
        padding-right: 15px;

    }
}

.modalConfirmTermsConditions {
    .titleConfirmTermsConditions,
    .wrapTextModalControl {
        text-align: center;
    }

    .wrapTextModalControl {
        margin-top: 10px;
    }

    .wrapBtnConfirm {
        display: table;
        margin: 15px auto auto auto;
    }

    .modal-dialog {
        max-width: 400px;
    }
}

.modalTextTermsConditions  {
    .modal-dialog,
    .modal-content,
    .modal-body {
        height: 100%;
    }

    .titleItem {
        padding: 15px;
    }

    .modal-body {
        padding: 0;
    }

    .modal-dialog {
        margin: auto;
        padding: 30px 0;
    }

    .wrapOverText {
        @include height-calc('100% - 144px');
        overflow-y: auto;
    }

    .wrapTextModalControl {
        padding: 15px;
    }

    .listBtnConfirm {
        text-align: center;
        padding: 15px;
    }
}

.modalTextManagement {
    .contentImgManager {
        img {
            width: 100%;
            height: auto;
        }
    }

    .titleTypeManager {
        font-size: 18px;
        line-height: 24px;
        color: $color1;
        margin-top: 10px;
        font-weight: 700;
    }

    .modal-body {
        padding: 30px;
    }
    
    .modal-dialog {
        max-width: 1110px;
    }
}

@media (max-width: 991px) {
    .modalControl {
        .modal-dialog {
            max-width: 100%;
            margin: 15px;
            @include calc('min-height', '100% - 30px');
        }
    }

    .modalTextManagement {
        .modal-body {
            padding: 15px;
        }
    }

    .modalTextManagement {
        .rowTextManager {
            margin: 0 -7.5px;
        }
    
        .colImgManaer,
        .colTextManager {
            padding: 0 7.5px;
        }
    }
}

@media (max-width: 991px) {
    .modalControl {
        .modal-dialog {
            max-width: 100%;
            margin: 15px;
            @include calc('min-height', '100% - 30px');
        }
    }

    .modalTextManagement {
        .modal-body {
            padding: 15px;
        }
    }

    .modalTextManagement {
        .rowTextManager {
            margin: 0 -7.5px;
        }
    
        .colImgManaer,
        .colTextManager {
            padding: 0 7.5px;
        }

        .colTextManager {
            margin-top: 15px;
        }

        .wrapTextModalControl,
        .titleTypeManager {
            font-size: 14px;
            line-height: 20px;
        }
    }
}