.wrapBuy {    
    padding: 40px 0;
}

.titleItemBuy {
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
    color: transparent;
    -webkit-text-stroke: 1px $color1;
    font-family: $nameFont2;
    font-weight: 700;
    margin: 0;

    p {
        margin: 0;
    }
}

.wrapTextBuy {
    font-size: 16px;
    line-height: 22px;
    color: $color1;
    margin-top: 30px;

    p {
        margin-bottom: 10px;
    }

    a {
        color: $color1;
        text-decoration: underline;
        @include transition(0.5s);

        &:hover {
            color: $color3;
        }
    }
}

.wrapSlideLogoBuy {
    margin: 30px -30px 0 -30px;
}

.wrapImgPartner {
    display: block;
    padding: 0 30px;
}

.imgPartner {
    width: 100%;
    height: auto;
}

.imgBannerBuy {
    width: 100%;
    height: auto;
}

.titleAvailable {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: $color1;
    margin: 0;
}

.wrapLogoAndBtnBuy {
    margin-top: 15px;

    .logoOkex {
        float: left;

        img {
            width: 289px;
            margin-top: 15px;
        }
    }

    .btnBuy {
        padding: 20px 60px;
        font-size: 30px;
        line-height: 40px;
        float: right;
        margin-top: 67px;
        background-color: $color3;
        font-weight: 600;
        color: $color1;
        text-transform: capitalize;
        display: block;
        border: none;
        @include border-radius(5px);
        border: 4px solid $color3;
        @include transition(0.5s);
        font-family: $nameFont2;

        &:hover {
            background-color: $color1;
            color: $color3;
        }
    }
}

@media (min-width: 992px) {
    .colTextBuy {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
}

@media (max-width: 1199px) {
    .titleItemBuy {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 991px) {
    .wrapBuy {
        padding: 15px 0;
    }

    .colTextBuy {
        margin-top: 15px;
    }

    .wrapSlideLogoBuy {
        margin: 30px 0 0 0;
    }

    .wrapTextBuy {
        text-align: left;
        margin-top: 15px;
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 575px) {
    .titleItemBuy {
        font-size: 20px;
        line-height: 30px;
    }

    .wrapImgPartner {
        padding: 0 15px;
    }

    .titleAvailable {
        font-size: 14px;
        line-height: 20px;
    }

    .wrapLogoAndBtnBuy {    
        .logoOkex {    
            img {
                width: 135px;
            }
        }
    
        .btnBuy {
            padding: 10px 20px;
            font-size: 16px;
            line-height: 22px;
            margin-top: 36px;
            border-width: 2px;
        }
    }
}

@media (max-width: 359px) {
    .titleItemBuy {
        font-size: 18px;
        line-height: 28px;
    }
}