.countdown {
    text-align: center;
    font-family: $nameFont2;
    color: $color1;
    margin-top: 20px;

    .countdown-section {
        display: inline-block;
        vertical-align: top;
        position: relative;
        font-size: 60px;
        line-height: 72px;
        font-weight: 700;
    }

    .countdown-section {
        + .countdown-section {
            margin-left: 37px;
        }

        .sep {
            position: absolute;
            top: 0;
            right: -25px;
        }
    }

    .countdown-period {
        display: block;
    }
}

.wrapTitleTime {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: $color1;
    margin-top: 10px;
}

@media (max-width: 575px) {
    .countdown {
        margin-top: 15px;
    
        .countdown-section {
            font-size: 40px;
            line-height: 50px;
        }
    }
}