.wrapFAQ {    
    padding: 40px 0;
}

.titleItemFAQ {
    padding-bottom: 0;
}

.colItemFAQ {
    margin-top: 60px;
}

.numberItemFAQ {
    color: $color1;
    font-size: 16px;
    line-height: 22px;
}

.titleHeadingItemFAQ {
    margin: 0;
}

.linkItemFAQ {
    font-size: 30px;
    line-height: 40px;
    color: $color1;
    font-weight: 700;
    font-family: $nameFont2;
    @include transition(0.5s);
    @include splitText(2, 80px);

    &:hover {
        color: $color3;
    }
}

.btnFAQ {
    margin-top: 15px;
}

@media (max-width: 991px) {
    .wrapFAQ {
        padding: 15px 0;
    }

    .colItemFAQ {
        margin-top: 30px;
        padding: 0 7.5px;
    }

    .rowFAQ {
        margin: 0 -7.5px;
    }

    .linkItemFAQ {
        font-size: 24px;
        line-height: 30px;
        @include splitText(2, 60px);
    }

    .btnFAQ {
        margin-top: 5px;
    }
}