.wrapRoadmap {    
    padding: 40px 0;
}

.contentRoadmap {
    position: relative;
    padding: 60px 0;

    &::before {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        border-left: 3px dashed $color1;
        content: '';
    }

    .dotTop,
    .dotBottom {
        position: absolute;
        left: 50%;
        width: 15px;
        height: 15px;
        background-color: $color3;
        @include border-radius(100%);
    }

    .dotTop {
        top: 0;
        @include translate(-6px, -100%);
    }

    .dotBottom {
        bottom: 0;
        @include translate(-6px, 100%);
    }
}

.dateItemRoadmap {
    color: $color1;
    font-size: 24px;
    line-height: 30px;
    font-family: $nameFont2;
    text-transform: capitalize;
    font-weight: 700;
}

.desItemRaodmap {
    margin-top: 15px;
    color: $color1;
    font-size: 16px;
    line-height: 22px;
}

.contentPaddingItemRoadmap {
    padding-right: 120px;
    float: left;
    width: 50%;
    position: relative;
    z-index: 0;

    &::before {
        width: 120px;
        border-bottom: 3px dashed $color1;
        position: absolute;
        top: 50%;
        right: 0;
        content: '';
    }

    &::after {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        right: -20px;
        content: '';
        background-color: $color1;
        border: 3px solid $color3;
        @include border-radius(100%);
        @include translate(0, -20px);
    }
}

.contentItemRoadmap {
    background-color: $color3;
    @include border-radius(5px);
    padding: 15px;
    position: relative;
    z-index: 1;

    &::after {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        right: -132px;
        content: '';
        background-color: $color3;
        @include border-radius(100%);
        @include translate(0, -12px);
    }
}

@media (min-width: 992px) {
    .itemRoadmap {
        margin-top: 60px;
    
        &:first-child {
            margin-top: 0;
        }
    
        &:nth-child(2n) {
            .contentPaddingItemRoadmap {
                float: right;
                padding-right: 0;
                padding-left: 120px;
    
                &::before {
                    right: auto;
                    left: 0;
                }
    
                &::after {
                    right: auto;
                    left: -20px;
                }
            }
    
            .contentItemRoadmap {        
                &::after {
                    right: auto;
                    left: -132px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .wrapRoadmap {
        padding: 15px 0;
    }

    .contentRoadmap {
        padding: 30px 0;
    
        &::before,
        .dotTop,
        .dotBottom {
            left: 15px;
        }
    }

    .contentPaddingItemRoadmap {
        padding-right: 0;
        padding-left: 60px;
        width: 100%;

        &::before {
            width: 60px;
            right: auto;
            left: 15px;
        }
    
        &::after {
            width: 30px;
            height: 30px;
            right: auto;
            @include translate(0, -15px);
            left: 0;
        }
    }

    .contentItemRoadmap {
        &::after {
            width: 16px;
            height: 16px;
            right: auto;
            @include translate(0, -8px);
            left: -53px;
        }
    }

    .itemRoadmap {
        margin-top: 30px;
    
        &:first-child {
            margin-top: 0;
        }
    }

    .desItemRaodmap {
        margin-top: 10px;
    }
}