body {
	margin: 0;
	background: #626964;
	font-family: $nameFont3;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
}
html,
body {
	height: 100%;
	overflow: hidden;
}

h1, h2, h3,
h4, h5, h6 {
	margin-top: 0;
	font-weight: normal;
}