#social {
	position: fixed;
	z-index: 10;
	top: 50%;
	right: 40px;
}
#social ul {
	padding: 0;
	margin: 0;
}
#social ul li {
	margin-top: 20px;
	list-style: none;
	width: 60px;
	position: relative;

	&:first-child {
		margin-top: 0;
	}
}
#social ul li:after {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	content: "";
	background: url(../images/coming-soon/hexagon.png) right 0 no-repeat;
	background-size: cover;
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-ms-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}
#social ul li a {
	line-height: 64px;
	font-size: 17px;
	color: #fff;
	display: block;
	height: 69px;
	position: relative;
	z-index: 99;
	text-align: center;
	outline: none;
}
#social ul li a:after {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	left: 0;
	content: "";
	background: url(../images/coming-soon/hexagon.png) 0 0 no-repeat;
	background-size: cover;
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-ms-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}
#social ul li:hover:after {
	opacity: 0;
}
#social ul li a:hover:after {
	opacity: 1;
}

#social ul li a svg {
	width: 20px;
	height: 20px;
	display: inline-block;
	@include translate(0, 5px);
}

@media (min-width: 992px) {
	#social {
		@include translate(0, -50%);
	}
}

@media (max-width: 991px) {
	#social ul li a svg {
		width: 15px;
		height: 15px;
		@include translate(0, 3px);
	}

	#social ul li {
		margin-top: 5px;
	}

	#social ul {
		padding: 25px 0;
	}
}

@media (max-width: 359px) {
	#social ul {
		padding: 15px 0;
	}
}