.btnScrollTop {
    position: fixed;
    z-index: 990;
    right: 15px;
    bottom: -100%;
    display: inline-block;
    @include transition(0.5s);
    cursor: pointer;
    color: white;

    svg {        
        width: 40px;
        height: 40px;
        display: block;
    }    

    &:hover {
        color: $color3;
    }

    &.showBtnScrollTop {
        bottom: 15px;
    }
}