.wrapBtn1 {
    position: relative;
    display: inline-block;

    &::after,
    &::before {
        position: absolute;
        bottom: 0;
        content: '';
        height: 1px;
        background-color: $color1;
        @include transition(0.5s);
    }

    &::before {
        left: 0;
        width: 0;
    }

    &::after {
        right: 0;
        @include width-calc('100% - 30px');
    }

    &:hover {
        &::before {
            @include width-calc('100% - 30px');
        }

        &::after {
            width: 0;
        }
    }
}

.btn1 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: $color1;
    text-transform: capitalize;
    display: inline-block;
    font-family: $nameFont2;
    position: relative;
    border-left: 1px solid $color1;
    border-right: 1px solid $color1;
    padding: 10px 40px;

    &::after,
    &::before {
        position: absolute;
        top: 0;
        content: '';
        height: 1px;
        background-color: $color1;
        @include transition(0.5s);
    }

    &::before {
        left: 0;
        @include width-calc('100% - 30px');
    }

    &::after {
        right: 0;
        width: 0;
    }

    &:hover {
        color: $color1;

        &::before {
            width: 0;
        }

        &::after {
            @include width-calc('100% - 30px');
        }
    }
}

.btn2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: $color1;
    text-transform: capitalize;
    display: inline-block;
    font-family: $nameFont2;
    position: relative;
    padding: 0 15px 0 0;
    @include transition(0.5s);

    svg {
        width: 10px;
        height: 10px;
        display: inline-block;
        @include translate(0, -2px);
        position: absolute;
        top: 11px;
        @include transition(0.5s);
    }

    .iconLeft {
        left: 0;
        width: 0;
    }

    .iconRight {
        right: 0;
    }

    &:hover {
        padding-left: 15px;
        padding-right: 0;
        color: $color1;

        .iconLeft {
            width: 10px;
        }

        .iconRight {
            width: 0;
        }
    }
}

.dotsSlide1 {
    .slick-dots {
        padding: 0;
        margin: 0;
        text-align: center;
        list-style: none;
        position: absolute;
        left: 50%;
        bottom: 15px;
        @include translate(-50%, 0);
        z-index: 500;
        white-space: nowrap;

        &:after {
            position: absolute;
            bottom: 0;
            left: 4px;
            right: 4px;
            content: '';
            height: 1px;
            background-color: $color1;
        }

        button {
            border: none;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            background-color: transparent;
            color: $color1;
            @include transform(rotate(-90deg));
            padding: 0;

            &:focus {
                outline: unset;
                outline: none;
            }
        }

        li {
            display: inline-block;
            position: relative;
            margin: 0;
            cursor: pointer;
            margin-left: 50px;
            padding-bottom: 20px;

            &:after {
                position: absolute;
                bottom: 0;
                left: 50%;
                content: '';
                width: 1px;
                height: 10px;
                background-color: $color1;
                @include transition(0.5s);
                @include translate(-50%, 0);
            }

            &:first-child {
                margin-left: 0;
            }

            &.slick-active {
                &:after {
                    height: 20px;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .dotsSlide1 {
        .slick-dots {    
            li {
                margin-left: 30px;
            }
        }
    }    
}

.btnCloseModal {
    color: $color1;
    @include transition(0.5s);
    border: 1px solid $color1;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: $color8;
    @include border-radius(100%);

    svg {
        width: 20px;
        height: 20px;
        display: inline-block;
        @include translate(0, -1px);
    }

    &:hover {
        color: $color3;
    }
}