.main-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: -1;
}
.main-bg:after {
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	display: block;
	z-index: 19;
}
#background-slideshow .slide {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: center center;
	background-size: cover;
	-webkit-transform: traslateZ(0px);
	-moz-transform: traslateZ(0px);
	-ms-transform: traslateZ(0px);
	-o-transform: traslateZ(0px);
	transform: traslateZ(0px);
	-webkit-transform-origin: center center 0;
	-moz-transform-origin: center center 0;
	-ms-transform-origin: center center 0;
	-o-transform-origin: center center 0;
	transform-origin: center center 0;
}