// color
$color1: white;
$color2: #333;
$color3: #ea2328;
$color4: #f7f7f7;
$color5: #8b8d8e;
$color6: #ddd;
$color7: #eeeeee;
$color8: black;
$color9: rgba(0, 0, 0, 0.8);
$color10: rgba(255, 255, 255, 0.8);
$color11: red;
$color12: rgba(39, 59, 145, 0.8);
$color13: #001c92;
$color14: #2d368f;
$color15: #e91d22;
$color16: #0675bc;
$color17: rgba(0, 0, 0, 0);
$color18: #ed2027;
$color19: #0a0a0a;
$color20: #101010;
$color21: #151515;

// box shadow
$box-shadow-1: 0px 0px 5px 0px rgba(0,0,0,0.1);

// gradient
$gradient1: 0deg, $color9 0%, $color17 90%;

// font family
$nameFont1: 'RobotoMono';
$nameFont2: 'BarlowCondensed';
$nameFont3: 'Poppins';