.wrapFAQ {    
    padding: 40px 0;
}

.btnFAQ {
    margin-top: 5px;
}

.linkItemFAQ {
    font-size: 24px;
    line-height: 30px;
    @include splitText(10, 300px);
}

.listQuestion {
    display: none;
}

.itemQuestion {
    margin-top: 15px;

    &:first-child {
        margin-top: 0;
    }
}

.listQuestion {
    padding-left: 30px;
    margin-top: 15px;
}

.contentTitleFAQ {
    .linkItemFAQ {
        position: relative;

        &::after {
            position: absolute;
            top: 10px;
            right: 0;
            width: 10px;
            content: '';
            border: 10px solid transparent;
            border-top-color: $color1;
            @include transition(0.5s);
        }
    }
}

.colItemFAQ {
    @include flex(100%);
    margin-top: 15px;

    .contentItemFAQ {
        border-top: 2px solid $color1;
        padding-top: 15px;
    }
    
    &:first-child {
        margin-top: 0;

        .contentItemFAQ {
            border-top: none;
            padding-top: 0;
        }

        .listQuestion {
            display: block;
        }
    }
}

.active {
    .contentTitleFAQ {
        .linkItemFAQ {        
            &::after {
                @include transform(rotateX(180deg));
                top: 0;
            }
        }
    }
}

@media (max-width: 991px) {
    .wrapFAQ {
        padding: 15px 0;
    }
}