.wrapTabTextHybrid {
    padding: 40px 0;

    .nav-tabs,
    .tab-content {
        margin-top: 15px;
    }

    .nav-link {
        color: $color1;
        @include transition(0.5s);

        &:hover {
            color: $color3;
            border-color: transparent;
        }
    }
}

.contentTextHybrid {
    font-size: 16px;
    line-height: 22px;
    color: $color1;
    margin-top: 20px;

    img {
        max-width: 100%;
        height: auto;
    }

    p {
        margin-bottom: 15px;
    }

    a {
        color: $color1;
        @include transition(0.5s);
        word-break: break-all;

        &:hover {
            color: $color3;
        }
    }
}

@media (max-width: 991px) {
    .wrapTabTextHybrid {
        padding: 15px 0;
    }

    .wrapTabTextHybrid {
        .nav-link {
            font-size: 10px;
            line-height: 16px;
            padding: 10px 5px;
        }
    }
}

@media (max-width: 575px) {
    .wrapTabTextHybrid {
        .nav-link {
            font-size: 8px;
            line-height: 14px;
            padding: 10px 3px;
        }
    }
}

@media (max-width: 359px) {
    .wrapTabTextHybrid {
        .nav-link {
            font-size: 7px;
            line-height: 13px;
            padding: 10px 1px;
        }
    }
}