.wrapNews {    
    padding: 60px 0 97px 0;
}

.titleHeaddingNews {
    margin: 0;
}

.linkTitleNews {
    font-weight: 700;
    color: $color1;
    text-transform: capitalize;
    display: block;
    font-size: 24px;
    line-height: 30px;
    @include transition(0.5s);
    font-family: $nameFont2;

    &:hover {
        color: $color3;
    }
}

.itemNews {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 5px dotted $color1;

    &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
    }
}

@media (max-width: 991px) {
    .wrapNews {
        padding: 30px 0 60px 0;
    }
    
    .linkTitleNews {
        word-break: break-all;
        font-size: 18px;
        line-height: 24px;
    }
    
    .itemNews {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 4px dotted $color1;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }
    }
}