.wrapPageError {
    padding: 40px 0;
}

.wrapTextError {
    font-size: 16px;
    line-height: 22px;
    color: $color1;
    margin-top: 20px;
    margin-top: 15px;

    img {
        max-width: 100%;
        height: auto;
    }

    p {
        margin-bottom: 15px;
    }

    a {
        color: $color1;
        @include transition(0.5s);
        word-break: break-all;

        &:hover {
            color: $color3;
        }
    }
}

.wrapbackHome {
    margin-top: 15px;
}

@media (max-width: 991px) {
    .wrapPageError {
        padding: 15px 0;
    }

    .wrapTextError {
        font-size: 14px;
        line-height: 20px;
    }
}