.wrapAboutHome {
    padding: 20px 0;
}

.titleAboutHome {
    font-size: 250px;
    line-height: 260px;
    color: $color1;
    text-transform: capitalize;
    font-family: $nameFont2;
    font-weight: 700;
    margin: 0;
}

.wrapTextAboutHome {
    font-size: 16px;
    line-height: 22px;
    color: $color1;

    p {
        margin-bottom: 10px;
    }

    a {
        color: $color1;
        text-decoration: underline;
        @include transition(0.5s);

        &:hover {
            color: $color3;
        }
    }
}

@media (min-width: 992px) {
    .wrapTextAndBtnAboutHome {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: 20%;
        width: 80%;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .wrapTextAboutHome {
        @include flex(75%);
    }

    .contentBtnAboutHome {
        @include flex(25%);
        text-align: right;
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .wrapTextAboutHome {
        @include flex(80%);
    }

    .contentBtnAboutHome {
        @include flex(20%);
    }
}

@media (max-width: 1199px) {
    .titleAboutHome {
        font-size: 200px;
        line-height: 210px;
    }
}

@media (max-width: 991px) {
    .wrapAboutHome {
        padding-top: 10px;
    }

    .titleAboutHome {
        font-size: 120px;
        line-height: 130px;
    }

    .wrapTextAndBtnAboutHome {
        width: 70%;
        float: right;
    }

    .wrapTextAboutHome {
        font-size: 14px;
        line-height: 20px;
    }

    .wrapBtnAboutHome {
        margin-top: 15px;
    }
}

@media (max-width: 575px) {
    .titleAboutHome {
        font-size: 70px;
        line-height: 80px;
    }

    .wrapTextAndBtnAboutHome {
        width: 90%;
    }
}

@media (max-width: 359px) {
    .titleAboutHome {
        font-size: 60px;
        line-height: 70px;
    }
}