.wrapBuy {    
    padding: 60px 0 20px 0;
}

.titleItemBuy {
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
    color: transparent;
    -webkit-text-stroke: 1px $color1;
    font-family: $nameFont2;
    font-weight: 700;
    margin: 0;

    p {
        margin: 0;
    }
}

.wrapTextBuy {
    font-size: 16px;
    line-height: 22px;
    color: $color1;
    margin-top: 30px;

    p {
        margin-bottom: 10px;
    }

    a {
        color: $color1;
        text-decoration: underline;
        @include transition(0.5s);

        &:hover {
            color: $color3;
        }
    }
}

.wrapSlideLogoBuy {
    margin: 30px -30px 0 -30px;
}

.wrapImgPartner {
    display: block;
    padding: 0 30px;
}

.imgPartner {
    width: 100%;
    height: auto;
}

.imgBannerBuy {
    width: 100%;
    height: auto;
}

@media (min-width: 992px) {
    .colTextBuy {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
}

@media (max-width: 1199px) {
    .titleItemBuy {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 991px) {
    .wrapBuy {
        padding-top: 10px;
    }

    .colTextBuy {
        margin-top: 15px;
    }

    .wrapSlideLogoBuy {
        margin: 30px 0 0 0;
    }

    .wrapTextBuy {
        text-align: left;
        margin-top: 15px;
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 575px) {
    .titleItemBuy {
        font-size: 20px;
        line-height: 30px;
    }

    .wrapImgPartner {
        padding: 0 15px;
    }
}

@media (max-width: 359px) {
    .titleItemBuy {
        font-size: 18px;
        line-height: 28px;
    }
}