.wrapProducts {    
    padding: 60px 0 20px 0;
}

.wrapSlieCoreProduct {
    margin: 30px -15px 0 -15px;
}

.colItemProducts {
    padding: 0 15px;
}

.wrapImgItemProduct {
    width: 80px;
    margin: auto;
}

.linkImgItemproduct {
    display: block;
}

.titleItemProduct {
    margin: 15px 0 0 0;
}

.linkTitleItemproduct {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: $color1;
    text-transform: capitalize;
    font-family: $nameFont2;
    text-align: center;
    display: block;
    @include transition(0.5s);

    &:hover {
        color: $color3;
    }
}

.desItemProduct {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $color1;
    margin: 15px 0 0 0;
    @include splitText(3, 60px);
}

@media (max-width: 991px) {
    .wrapProducts {
        padding-top: 10px;
    }

    .wrapSlieCoreProduct {
        margin: 30px -7.5px 0 -7.5px;
    }

    .colItemProducts {
        padding: 0 7.5px;
    }

    .linkTitleItemproduct {
        font-size: 20px;
        line-height: 30px;
    }

    .desItemProduct {
        font-size: 12px;
        line-height: 18px;
        margin: 5px 0 0 0;
        @include splitText(3, 54px);
    }
}

@media (max-width: 575px) {
    .linkTitleItemproduct {
        font-size: 16px;
        line-height: 22px;
    }
    
    .titleItemProduct {
        margin: 5px 0 0 0;
    }

    .wrapImgItemProduct {
        width: 50px;
    }
}